/* Nav bar start...*/
#xo-navbar {
  height:22px;
  background:#fff url('../img/navbg.gif') repeat-x top;
  padding:4px 0 1px 5px;
  cursor:default;
  border-bottom:1px solid #ccc;
}
#xo-navbar table{border-spacing:0;}
.NavMenu {
  font-family:Verdana, Tahoma, Georgia, sans-serif;
  font-size:.9em;
  color:#676767;
}
.NavMenu .button,.NavMenu .button:hover,.NavMenu .button-active,.NavMenu .button-active:hover {
  color:#676767;
  line-height:normal;
  padding:3px 6px 3px 20px;
  background:url('../img/menu_sp.png') no-repeat right;
  text-decoration:none;
  cursor:default;
  white-space:nowrap;
  display:block;
  position:relative;
}
.NavMenu .button:hover{}
.NavMenu .button-active,.NavMenu .button-active:hover {}
.NavMenu .item,.NavMenu .item:hover,.NavMenu .item-active,.NavMenu .item-active:hover{
  background:#fff;
  color:#676767;
  line-height:normal;
  padding:5px 16px 5px 3px;
  border:0;
  text-decoration:none;
  cursor:default;
  white-space:nowrap;
  display:block;
  position:relative;
}
.NavMenu .item:hover,.NavMenu .item-active,.NavMenu .item-active:hover{
  background-color:#efefef;
  color:#272727;
  border:0 solid #316AC5;
}
.NavMenu .section {
  background-color:#fff;
  border:1px solid #ccc;
  border-top:1px solid #fff;
  position:absolute;
  visibility:hidden;
  z-index:-1;
}
.NavMenu .section .section {
  border:1px solid #ccc;
}
.NavMenu .image {
  position:absolute;
  top:2px;
  left:1px;
  border:0;
  padding:0;
}
.NavMenu .arrow {
  position:absolute;
  top:7px;
  right:8px;
  border:0;
}
.NavMenu hr{
  height:1px;
  width:100%;
  *width:120px;
  border:0;
  margin:0;
  padding:0;
  color:#ccc;
  background-color:#ccc;
}
.NavMenu .section .item {margin-bottom:0;}
* html .NavMenu td{position:relative;}
#search{
  padding-right:5px;
  width:100%;
}