<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<{$xoops_langcode}>" lang="<{$xoops_langcode}>">
<head>
<!-- Title and meta -->
  <{includeq file="$theme_path/xotpl/xoadmin_metas.html"}>
<!-- admin theme scripts -->
  <{includeq file="$theme_path/xotpl/xoadmin_scripts.html"}>
<!-- Theme Sheet Css -->
  <{includeq file="$theme_path/xotpl/xoadmin_style.html"}>
<!-- module header -->
  <{$xoops_module_header}>
</head>
<body id="<{$xoops_langcode}>">
<!-- Theme body -->
  <{includeq file="$theme_path/xoadmin_body.html"}>
